<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>Aruba Login</title>
 </head>
 <body class="LoginBody">
  <div class="content">
     {% for message in get_flashed_messages() %}
          <div class="flash btn-warning">{{ message }}</div>
     {% endfor %}
    <form action="{{url_for('login')}}" method="post" name="LoginForm" id="LoginForm">
     <div style="display:none;">
      <input id="csrf_token" name="csrf_token" type="hidden" value="None">
     </div>
     <fieldset class="loginCon">								 
	 <input type="text"  name="username" placeholder="Username" value="" tabindex="2" autocomplete="off"/>
	 <input  type="password" name="password" placeholder="Password" tabindex="3" />
        <div class="">
	 <input type="submit" id="SubmitButton" value="Sign In">
        </div>
     </fieldset></form>
     </div>
    </div>
  </body>
</html>

